* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #F1F3FF;
    color: black;
    place-items: baseline;
}

.nav-links a {
    color: black;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li a.btn {
    padding: 1vh;
    border: 1px solid;
    border-radius: 5px;
    background-color: #5CB85F;
    color: white;
    margin-top: -10px;
}

/* .menu li:hover {
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease;
} */

.menu li {
    padding: 5px 14px;
}

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* Dashboard CSS */
.row-dashboard {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F1F3FF
}

.row-dashboard .col-deskripsi {
    width: 50%;
    margin: 100px 0 0 100px;
}

.row-dashboard .col-deskripsi .deskripsi h1 {
    size: 36px;
    margin-bottom: 20px;
}

.row-dashboard .col-car {
    width: 50%;
    margin-left: -10%;
}

.row-dashboard .col-deskripsi .deskripsi .btn {
    background-color: #5CB85F;
    border-radius: 5px;
    margin-top: 20px;
    padding: .8em;
    color: white;
    border: 1px;
    cursor: pointer;
}

/* Akhir Dashboard */

/* Awal Our-Services */
.row-our-service {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.row-our-service .our-deskripsi {
    width: 50%;
}

.row-our-service .our-deskripsi .wanita img {
    margin-left: 20%;
}

.row-our-service .col-our-service {
    width: 50%;
}

.row-our-service .col-our-service .our-service {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 40px;
}

.row-our-service .col-our-service .our-service h2 {
    padding-bottom: 20px;
}

.row-our-service .col-our-service .our-service ul li {
    padding: 10px 0;
    list-style: none;
}

.row-our-service .col-our-service .our-service ul li img {
    width: 40px;
    margin-left: -40px;
}

/* Akhir Our Services */

/* Awal Why Us */
.judul {
    margin: 40px 70px;
}

.judul h1 {
    padding-bottom: 30px;
}

.services {
    /* padding-top: 10%; */
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.services .service {
    background-color: white;
    padding: 15px;
    border: 1px solid #D0D0D0;
}

.services .service .icon img {
    width: 40px;
}

.service h3 {
    font-size: 24px;
    margin: 30px 0;
}

/* Akhir Why us */

/*Awal Testimonial*/
.user-review {
    text-align: center;
    margin-top: 10%;
}

.testimonial {
    text-align: left;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.testimonial .row .col-lg-3 img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: -20px;
    border-radius: 50%;
}

.testimonial .row .col-lg-9 p {
    margin-top: 10px;
    font-weight: bold;
}

.testimonial .row .col-lg-9 .stars {
    color: #F9CC00;
}

.testimonial .konten1 {
    background-color: #F1F3FF;
    padding: 40px;
    border-radius: 10px;
    margin-right: 20px;
}

.testimonial .konten2 {
    background-color: #F1F3FF;
    padding: 40px;
    border-radius: 10px;
    margin-right: 20px;
}

.testimonial .konten3 {
    background-color: #F1F3FF;
    padding: 40px;
    border-radius: 10px;
}

.user-review .panah-kanan img {
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 40px;
}

.user-review .panah-kiri img {
    width: 30px;
    margin-top: -55px;
    cursor: pointer;
    margin-right: 50px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

/*Awal Sewa Mobil*/
.lokasi .my-container {
    margin: 10% 15%;
    padding: 50px 50px;
    background-color: #0D28A6;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 70%;
}

.lokasi .my-container .row .col {
    margin-top: 5%;
}

.lokasi .my-container .row .col p {
    margin-top: 2%;
}

.lokasi .my-container .row .col button {
    background-color: #5CB85F;
    color: white;
    margin-top: 5%;
    border: 1px solid #5CB85F;
    border-radius: 5px;
    padding: 1em;
}

/*Akhir Sewa Mobil*/

/* Awa; Acordion */
.row-question {
    display: flex;
    flex-direction: row;
}

.row-question .col-1 {
    width: 50%;
}

.row-question .col-2 {
    margin-left: -8%;
    margin-top: 30px;
    width: 50%;
}

.row-question .col-2 .accordion .accordion-item {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #D4D4D4;
}

/* Akhir Acordion */

/*Awal Footer*/
.footer {
    width: 100%;
    height: 128px;
    padding: 183px 150px 0 150px;
    margin-bottom: 150px;
}

.footer-1 {
    width: 26%;
    font-size: 14px;
    line-height: 20px;
}

.footer-2 {
    width: 23%;
    padding-left: 50px;
}

.footer-2 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 11px;
}

.footer-2 a {
    text-decoration: none;
    color: black;
}


.footer-3 {
    width: 23%;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-right: 57px;
}

.footer-3 p {
    font-size: 18px;
}

.footer-4 {
    width: 23%;
}

.icon img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}


/*Akhir Footer*/

/* Awal Responsive Tablet */
@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    /* Awal Navbar Responsive */
    .menu {
        display: none;
        position: absolute;
        background-color: #F1F3FF;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #F1F3FF;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    /* Akhir Navbar Responsive */

    /* Awal Dashboard Responsive */
    .row-dashboard {
        display: flex;
        flex-direction: column;
    }

    .row-dashboard .col-deskripsi {
        margin: -60px 0 30px 50px;
    }

    .row-dashboard .col-deskripsi .deskripsi h1 {
        font-size: 46px;
    }

    .row-dashboard .col-deskripsi .deskripsi p {
        font-size: 24px;
    }

    .row-dashboard .col-car .mobil img {
        position: relative;
        width: 700px;
        height: 400px;
        margin-left: 15%;
    }

    .row-dashboard .col-deskripsi .deskripsi .btn {
        font-size: 18px;
    }

    /* Akhir Dashboard Responsive */

    /* Awal Our Service Responsive */
    .row-our-service {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .row-our-service .our-deskripsi .wanita img {
        width: 600px;
        padding-bottom: 40px;
    }

    .row-our-service .col-our-service .our-service h2 {
        width: max-content;
        font-size: 46px;
    }

    .row-our-service .col-our-service .our-service p {
        width: max-content;
        font-size: 24px;
    }

    .row-our-service .col-our-service .our-service ul li {
        font-size: 16px;
        width: 100%;
        /* margin: auto; */
    }

    .row-our-service .col-our-service .our-service ul li img {
        width: 50px;
    }

    /* Akhir Our Service Responsive */

    /* Awal Why Us Responsive */
    .judul {
        padding-top: 40px;
        text-align: center;
    }

    .judul h1 {
        font-size: 46px;
    }

    .judul p {
        font-size: 24px;
    }

    .services {
        padding: 0 5%;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }

    .services .service {
        width: 700px;
    }

    .services .service h3 {
        font-size: 36px;
    }

    .services .service p {
        font-size: 24px;
    }

    .services .service .icon img {
        width: 70px;
        height: 70px;
    }

    /* Akhir Why Us Reponsive */

    /* Awal Testimonial */
    .user-review h2 {
        font-size: 46px;
    }

    .user-review p {
        font-size: 24px;
    }

    .testimonial .konten1 {
        display: none;
    }

    .testimonial .konten2 {
        margin-left: 20px;
        width: 100%;
    }

    .testimonial .konten2 .row {
        font-size: 24px;
    }

    .testimonial .konten2 .row .col-lg-3 img {
        margin-left: 0;
        margin-bottom: 20px;
        width: 100px;
    }

    .testimonial .konten2 .row .col-lg-9 .stars {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .testimonial .konten3 {
        display: none;
    }

    /* Akhir Testimonial */

    /* Awal Sewa Responsive */
    .lokasi .my-container {
        justify-content: center;
        margin-left: 35px;
        /* padding-left: 50px; */
        width: 90%;
        /* height: 50vh; */
    }

    .lokasi .my-container .row .col h1 {
        margin: auto;
        width: 50%;
        padding-bottom: 30px;
        font-size: 36px;
    }

    .lokasi .my-container .row .col p {
        width: 60%;
        margin: auto;
        padding-bottom: 20px;
        font-size: 24px;
    }

    .lokasi .my-container .row .col button {
        font-size: 20px;
    }

    /* Akhir Sewa Responsive */

    /* Awal Accordion */
    .row-question {
        display: flex;
        flex-direction: column;
    }

    .row-question .col-1 {
        width: max-content;
        align-self: center;
    }

    .row-question .col-1 h3 {
        font-size: 46px;
    }

    .row-question .col-1 p {
        font-size: 30px;
    }

    .row-question .col-2 {
        padding-left: 40px;
        width: 110%;
    }

    .row-question .col-2 .accordion .accordion-item h2 button {
        font-size: 24px;
    }

    .row-question .col-2 .accordion {
        font-size: 18px;
    }

    /* Akhir Accordion */

    /* Awal Footer */
    .footer {
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        padding: 40px 0 10px 33px;
        font-weight: 600;
        margin-bottom: 0;
        font-size: 24px;
    }

    .footer-1 {
        width: 70%;
        font-size: 24px;
        line-height: inherit;
    }

    .footer-2 {
        padding-left: 0;
        width: 40%s;
    }

    .footer-2 p {
        font-size: 24px;
        line-height: inherit;
    }

    .footer-3 {
        width: 40%;
        font-size: 24px;
        margin-bottom: 0;
    }

    .footer-3 p {
        font-size: 24px;
        width: 150%;
        margin-bottom: 36px;
        line-height: inherit;
    }

    .footer3 .icon {
        margin-bottom: 6px;
    }

    .footer-4 {
        margin-top: 20px;
        width: 60%;
        height: fit-content;
    }

    /* Akhir Footer */
}

/* Akhir Responsive Tablet */


/* Awal Reponsive Hp */
@media (max-width: 600px) {
    html {
        overflow-x: hidden;
    }

    /* Awal Navbar Responsive */
    .menu {
        display: none;
        position: absolute;
        background-color: #F1F3FF;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #F1F3FF;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    /* Akhir Navbar Responsive */

    /* Awal Dashboard Responsive */
    .row-dashboard {
        display: flex;
        flex-direction: column;
    }

    .row-dashboard .col-deskripsi {
        margin: -60px 0 30px 50px;
    }

    .row-dashboard .col-deskripsi .deskripsi h1 {
        font-size: 36px;
    }

    .row-dashboard .col-deskripsi .deskripsi p {
        font-size: 18px;
    }

    .row-dashboard .col-car .mobil img {
        position: relative;
        width: 550px;
        height: 300px;
        margin-left: 15%;
    }

    /* Akhir Dashboard Responsive */

    /* Awal Our Service Responsive */
    .row-our-service {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .row-our-service .our-deskripsi .wanita img {
        width: 400px;
        padding-bottom: 40px;
    }

    .row-our-service .col-our-service .our-service h2 {
        width: max-content;
        font-size: 36px;
    }

    .row-our-service .col-our-service .our-service p {
        width: max-content;
        font-size: 22px;
    }

    .row-our-service .col-our-service .our-service ul li {
        width: max-content;
        margin: auto;
    }

    .row-our-service .col-our-service .our-service ul li img {
        width: 50px;
    }

    /* Akhir Our Service Responsive */

    /* Awal Why Us Responsive */
    .judul {
        padding-top: 40px;
        text-align: center;
    }

    .services {
        padding: 0 5%;
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }

    .services .service {
        width: 550px;
    }

    /* Akhir Why Us Reponsive */

    /* Awal Testimonial */
    .testimonial .konten1 {
        display: none;
    }

    .testimonial .konten2 {
        margin-left: 20px;
        width: 100%;
    }

    .testimonial .konten2 .row .col-lg-3 img {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .testimonial .konten2 .row .col-lg-9 .stars {
        margin-bottom: 20px;
    }

    .testimonial .konten3 {
        display: none;
    }

    /* Akhir Testimonial */

    /* Awal Sewa Responsive */
    .lokasi .my-container {
        justify-content: center;
        margin-left: 35px;
        /* padding-left: 50px; */
        width: 90%;
        /* height: 50vh; */
    }

    .lokasi .my-container .row .col h1 {
        margin: auto;
        width: 50%;
        padding-bottom: 30px;
    }

    .lokasi .my-container .row .col p {
        width: 60%;
        margin: auto;
        padding-bottom: 20px;
    }

    /* Akhir Sewa Responsive */

    /* Awal Accordion */
    .row-question {
        display: flex;
        flex-direction: column;
    }

    .row-question .col-1 {
        width: max-content;
        align-self: center;
    }

    .row-question .col-1 h3 {
        font-size: 36px;
    }

    .row-question .col-1 p {
        font-size: 24px;
    }

    .row-question .col-2 {
        padding-left: 40px;
        width: 110%;
    }

    /* Akhir Accordion */

    /* Awal Footer */
    .footer {
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        padding: 40px 0 10px 33px;
        font-weight: 600;
        margin-bottom: 0;
        font-size: 24px;
    }

    .footer-1 {
        width: 70%;
        font-size: 18px;
        line-height: inherit;
    }

    .footer-2 {
        padding-left: 0;
        width: 40%s;
    }

    .footer-2 p {
        font-size: 18px;
        line-height: inherit;
    }

    .footer-3 {
        width: 40%;
        font-size: 18px;
        margin-bottom: 0;
    }

    .footer-3 p {
        font-size: 18px;
        width: 150%;
        margin-bottom: 36px;
        line-height: inherit;
    }

    .footer3 .icon {
        margin-bottom: 6px;
    }

    .footer-4 {
        margin-top: 20px;
        width: 60%;
        height: fit-content;
    }

    /* Akhir Footer */
}

/* Akhir Responsive Hp */